<h1><%= title %></h1>
<%= form_for @website do |w| %>  
  
  <%= w.label :title %>
  <%= w.text_field :title %>
  
  <%= w.label :url %>
  <%= w.text_field :url %>

  <%= w.label :description %>
  <%= w.text_field :description %>
  
  <%= 
