<%= @website.title %>
<br>
<%= @website.description %>
<br>
<% @website.categories.each do |c| %>
  <p><%= c.name %></p>
<% end %>
<br>
<% @website.comments.each do |c| %>
  <p><%= c.text %></p>
<% end %>
<%= link_to "Insert Up Icon Here", up_website_path(@website), method: 'post', remote: true %>
<div id="website_<%= @website.id %>_ups">
  <%= @website.ups.count %> Ups
</div>

<%= form_for [@website, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_field :text, placeholder: 'Write a comment about the website!' %>
  <%= f.submit "Post Comment" %>
<% end %>
