<%= render partial: 'layouts/navbar' %>



<div class="svg-container">
	<section>a
	</section>
</div>
<!-- D3 WORDLE CLOSE -->

<div class="websites-show-container">
	<h1 id="website-show-h1" class="div-headers"><%= @website.title %></h1>
	<!-- WEB LEFT OPEN -->
	<div class="web-left">
		<div class="row">
			<div class="large-12 columns web-left-boxes element" id="description">
				<h6 class="div-headers">Description</h6>
					<div class="web-content-container">
						<%= image_tag "realgm.png", :class => "desc-img" %>
						<%= @website.description %> Get the latest NBA basketball news, scores, stats, standings, forums and more on RealGM.com. Get the latest NBA basketball news, scores, stats, standings, forums and more on RealGM.com. Get the latest NBA basketball news, scores, stats, standings, forums and more on RealGM.com.
						<br><br>
						Website Category: <% @website.categories.each do |c| %>
		  			<p><%= c.name %></p>
						<% end %>
						<br>
					</div>
			</div>
		</div>

		<div class="row">
			<div ui-view="website">
			</div>
		</div>
		
		<div class="row">
			<div class="large-12 columns web-left-boxes element" id="comment-container">
				<h6 class="div-headers">Comments</h6>
					<div id="inner-comments-div">
						<%= form_for [@website, @comment] do |f| %>
						  <%#= f.label :comment %>
							<%= f.text_field :text, placeholder: 'Join the discussion' %>
							<%= f.submit "Post Comment", :class => 'up-btn2' %>
							<% end %>

						<div id="user-comments">
							<% @website.comments.each do |c| %>
				  			<p>
                  <div id="comment_<%= c.id %>_up"><%= c.ups.count %></div>
                      <%= link_to up_website_comment_path(@website, c), method: 'post', remote: true do %>
                      <i class="fi-arrow-up medium"></i>
                    <% end %>
                    "<%= c.text %>"
                  <br>
				  				<id="user-name-sig">-<%= c.user.first %>
              </p>
							<% end %>
						</div>
					</div>
			</div>
		</div>

	</div>
	<!-- WEB LEFT CLOSE -->

	<!-- WEB RIGHT OPEN -->
	<div class="web-right">
		<div class="row">
			<div class="large-12 columns web-right-boxes element" id="ups-box">

					<div class="website_<%= @website.id %>_up"> 
	            <%#= @website.ups.count %>
	        </div>
	          <%= link_to up_website_path(@website), method: 'post', remote: true do %>
	            <i class="fi-arrow-up"></i>
	          <% end %>

					<div id="score-num-disp" class="website_<%= @website.id %>_up">
	  				<%= @website.ups.count %>

					</div>
			</div>
		</div>

<!-- 		<div class="row">
			<div class="large-12 columns web-right-boxes element">screenshot</div>
		</div> -->

		<div class="row">
			<div class="large-12 columns web-right-boxes element">ad</div>
		</div>
	</div>
	<!-- WEB RIGHT CLOSE -->
</div>

<!-- D3 WORDLE OPEN -->
			<script>
			  var fill = d3.scale.category20();

			  d3.layout.cloud().size([800, 400])
			      .words([
			        "Hello", "world", "normally", "you", "want", "more", "words",
			        "than", "this", "lots","and","lots","of","words","programming","sleepy","hungry","primitive","spell","check"].map(function(d) {
			        return {text: d, size: 10 + Math.random() * 90};
			      }))
			      .padding(5)
			      .rotate(function() { return ~~(Math.random() * 2) * 90; })
			      .font("Impact")
			      .fontSize(function(d) { return d.size; })
			      .on("end", draw)
			      .start();

			  function draw(words) {
			    d3.select("div > section").append("svg:svg")
			    		.attr('class','svg-element')
			        .attr("width", 800)
			        .attr("height", 400)
			      .append("g")
			        .attr("transform", "translate(150,150)")
			      .selectAll("text")
			        .data(words)
			      .enter().append("text")
			        .style("font-size", function(d) { return d.size + "px"; })
			        .style("font-family", "Impact")
			        .style("fill", function(d, i) { return fill(i); })
			        .attr("text-anchor", "middle")
			        .attr("transform", function(d) {
			          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
			        })
			        .text(function(d) { return d.text; });
			  }
			</script>
<!-- D3 WORDLE CLOSE -->