<%= render partial: 'layouts/navbar' %>



<div class="svg-container">
	<section>
	</section>
</div>
<!-- D3 WORDLE CLOSE -->

<div class="websites-show-container">
	<h1 id="website-show-h1" class="div-headers"><%= @website.title.upcase %></h1>
	<!-- WEB LEFT OPEN -->
	<div class="web-left">
		<div class="row">
			<div class="large-12 columns web-left-boxes element" id="description">
				<h6 class="div-headers">Description</h6>
					<div class="web-content-container">
						<%= image_tag @website.screenshot.url(:large), :class => "desc-img" %>
						<%= @website.description %>
						<br><br>
						Website Category: <% @website.categories.each do |c| %>
		  			<p><%= c.name %></p>
						<% end %>
						<br>
					</div>
			</div>
		</div>

		<div class="row">
			<div ui-view="website">
			</div>
		</div>
		
		<div class="row">
			<div class="large-12 columns web-left-boxes element" id="comment-container">
				<h6 class="div-headers">Comments</h6>
					<div id="inner-comments-div">
						<%= form_for [@website, @comment] do |f| %>
						  <%#= f.label :comment %>
							<%= f.text_field :text, placeholder: 'Join the discussion' %>
							<%= f.submit "Post Comment", :class => 'up-btn2' %>
							<% end %>

						<div id="user-comments">
							<% @website.comments.each do |c| %>
				  			<p>
                  <div id="comment_<%= c.id %>_up"><%= c.ups.count %></div>
                      <%= link_to up_website_comment_path(@website, c), method: 'post', remote: true do %>
                      <i class="fi-arrow-up medium"></i>
                    <% end %>
                    "<%= c.text %>"
                  <br>
				  				-<span class="user-name-sig"><%= c.user.first %></span>
              </p>
							<% end %>
						</div>
					</div>
			</div>
		</div>

	</div>
	<!-- WEB LEFT CLOSE -->

	<!-- WEB RIGHT OPEN -->
	<div class="web-right">
		<div class="row">
			<div class="large-12 columns web-right-boxes element" id="ups-box">

					<div class="website_<%= @website.id %>_up"> 
	            <%#= @website.ups.count %>
	        </div>
	          <%= link_to up_website_path(@website), method: 'post', remote: true do %>
	            <i class="fa fa-arrow-circle-o-up rank-arrow" ng-click="newVal = 1" ng-class="{'fa fa-arrow-circle-up': newVal === 1}" id="web-show-icon"></i>
	          <% end %>

					<div id="score-num-disp" class="website_<%= @website.id %>_up">
	  				<%= @website.ups.count %>

					</div>
			</div>
		</div>

<!-- 		<div class="row">
			<div class="large-12 columns web-right-boxes element">screenshot</div>
		</div> -->

		<div class="row">
			<div class="large-12 columns web-right-boxes element"><%= image_tag "nike.png", :class => "nike" %></div>
		</div>
	</div>
	<!-- WEB RIGHT CLOSE -->
</div>
