<%= render partial: 'layouts/navbar' %>

	

	<!-- ELEMENT BOXES OPEN -->
	
	<!-- JUMBOTRON OPEN -->
<div ng-controller="LogoCtrl">	
		<div id="logo-thumb-connect">
				<div id="balloons">
					<%= image_tag "upthumb.png" %>
				</div>
				<div id="header-bloc">
					<%= image_tag "uplytxt.png" %>
				</div>
		</div>
	<div id="jumbo">
		<form>
		  <fieldset>
		    <legend></legend>
		    <label>Find the Internet's best based on what others think...
		      <input type="text" placeholder="Search" id="input-box">
		      <div id="search-button"><i class="fi-magnifying-glass large"></i></div>
		    </label>
		  </fieldset>
		</form>
		<div id="sign-up-btn">
			<%= link_to "Sign Up", new_user_registration_path,:class => "up-btn" %>
		</div>
	</div>
</div>
	<!-- CLOSE JUMBOTRON -->

	<div id="element-boxes">
		<!-- LEFT BOX OPEN -->
		<div id="left-box">
			<!-- NINJA DIV OPEN -->
				<div id="ninja">

				</div>
			<!-- NINJA DIV CLOSE -->
			<!-- CAROUSEL OPEN -->
			<div id="carousel2" class="row element">
				<div class="large-12 columns">
					<ul class="example-orbit-content" data-orbit>
						  <li data-orbit-slide="headline-1" class="slides" id="slide1">
						    <div>
	<!-- 					      <h2>Headline 1</h2>
						      <h3>Subheadline</h3> -->
						      <p class="slide-rank">Category: Sports | 1,283 ^'s</p>
						    </div>
						  </li>
						  <li data-orbit-slide="headline-2" class="slides" id="slide2">
						    <div>
	<!-- 					      <h2>Headline 2</h2>
						      <h3>Subheadline</h3> -->
						      <p class="slide-rank">Category: Computers | 785 ^'s</p>
						    </div>
						  </li>
						  <li data-orbit-slide="headline-3" class="slides" id="slide3">
						    <div>
	<!-- 					      <h2>Headline 3</h2>
						      <h3>Subheadline</h3> -->
						      <p class="slide-rank">Category: Shopping | 824 ^'s</p>
						    </div>
						  </li>
					</ul>
				</div>
			</div>
			<!-- CAROUSEL CLOSE -->

			<!-- RANKINGS SECTION OPEN -->

				<!-- SORT CLOSE -->

				<!-- RANK BOX OPEN -->
					<!-- CATEGORIES OPEN -->
					<!-- UI VIEW OPEN -->
					<div ui-view="categories">
					<!-- CATEGORIES CLOSE -->

					<!-- DISPLAY OPEN -->
				</div>
				<!-- VIEW CLOSE -->
				<!-- RANK BOX CLOSE -->
			<!-- RANKINGS SECTION CLOSE -->
    	<!-- LEFT BOX CLOSE -->
		</div>

		<!-- RIGHT BOX OPEN -->
		<div id="right-box">

			<!-- WEBSITE SPOTLIGHT OPEN -->
			<div class="row">
				<div id="website-spotlight" class="large-12 columns element">
					<h6 class="div-headers">Site Spotlight</h6>

					<div id="left-spotlight">
						Site screenshot or logo
					</div>

					<div id="right-spotlight">
						RealGM
					</div>
				</div>
			</div>
			<!-- WEBSITE SPOTLIGHT CLOSE -->

			<!-- DISPLAY AD OPEN-->
			<div class="row">
				<div id="ad-unit" class="large-12 columns element">
					<%= image_tag "fileswap.gif" %>
				</div>
			</div>
			<!-- DISPLAY AD CLOSE -->		

			<!-- TOP COMMENT OPEN-->
			<div class="row">
				<div id="comment-sect" class="large-12 columns element">
					<h6 class="div-headers">Top Comment</h6>
						<div>This is the best site ever</div>
				</div>
			</div>
			<!-- TOP COMMENT CLOSE -->

			<!-- SOCIAL MEDIA OPEN-->
			<div class="row">
				<div id="social-sect" class="large-12 columns element">
					<h6 class="div-headers">Social Media</h6>
						<p>Twitter</p>
				</div>
			</div>
			<!-- SOCIAL MEDIA CLOSE -->


		</div>
		<!-- RIGHT BOX CLOSE -->
	</div>
	<!-- ELEMENT BOXES CLOSE -->
<footer>
      <p id="foot-p">
      ©2014 UP.LY, Inc. |  TERMS OF USE / PRIVACY POLICY
      </p>
</footer>
