<%= render partial: 'layouts/navbar' %>

<!-- COMPANY SHOW OPEN -->
<div class="user-cover">
	<div class="user-cover-top">
    <div class="skin"></div>
			<h1 class="welcome">WELCOME <%= image_tag("upthumb.png", width: "50px", height: "50px") %> <%= current_user.first.upcase %> <%= current_user.last.upcase %></h1>
		<%= link_to "", edit_user_registration_path, :class => 'fi-widget' %>
		<%= link_to "Browse more sites to up", categories_path, :class => 'new-site-link button [radius round]' %>
  </div>
<div class="user-show-container">
	
	<div ui-view="user" class="user-view"></div>

</div>

<!-- COMPANY SHOW CLOSED -->

