<!-- REG CONTAINER OPEN -->
<div class="reg-container">
  <%= video_tag('balloonsvid.mp4', id: 'videobcg', autoplay: "true", loop: "true")%>
   <div class="buffer"></div>
		
	<div class="log-in-box">
		<h2 class="reg-head">Log In</h2>


		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true %></div>

		  <div><%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off" %></div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div><%= f.submit "Log in", :class => 'rails-btns' %></div>
		<% end %>

		<div id="log-in-btn2">
		<%= render "companies/shared/links" %>
		</div>

		<div class="company-reg-link"><%= link_to "or Sign In as user", new_user_session_path %></div>

	</div>
</div>
<!-- REG CONTAINER CLOSE -->

