<div ng-controller="NavCtrl">
		<!-- NAV OPEN -->
		<nav class="top-bar" data-topbar role="navigation">
		  <ul class="title-area">
		    <li class="name">
		      <div id="nav-brand">
		      	<h1>up.ly</h1>
		      </div>
		    </li>
		     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Right Nav Section -->
		    <ul class="right">
<!-- 		      <li><a href="#">Right Button Active</a></li> -->
		      <li class="has-dropdown">
		        <a href="#"><i class="fi-list"></i></a>
		        <ul class="dropdown" id="my-drop">
		          <li id="drop-signin" class="drop-lis">
		          	<%= link_to "Sign In", new_user_session_path, :class => "drop-link" %>
		          	<%= video_tag('nav-about.webm', id:'signinvideo', loop: "true")%>
		          </li>
		          <li id="drop-siteindex" class="drop-lis">
		          	<%= link_to "Websites Index", websites_path, :class => "drop-link" %>
		          	<%= video_tag('nav-work.webm', id:'siteindexvideo', loop: "true")%>
		          </li>
		          <li id="drop-signout" class="drop-lis">
		          	<%= link_to('Sign Out', destroy_user_session_path, :class => "drop-link", :method => :delete) %>
		          	<%= video_tag('nav-news.webm', id:'signoutvideo', loop: "true")%>
		          </li>
		        </ul>
		      </li>
		    </ul>

		    <!-- Left Nav Section -->
		    <ul class="left">
		    	<% if user_signed_in? %>       
	        <li><%#= link_to "My Profile", user_path(current_user) %></li>
	        <% end %>
		    </ul>
		  </section>
		</nav>
		<!-- CLOSE NAV -->

	</div>
